Source: pastedeploy
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Ondřej Nový <onovy@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-docutils,
               python3-pygments,
               python3-pytest,
               python3-setuptools,
Standards-Version: 4.5.0
Homepage: http://pythonpaste.org/deploy/
Vcs-Git: https://salsa.debian.org/python-team/packages/pastedeploy.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/pastedeploy
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-python

Package: python3-pastedeploy
Architecture: all
Depends: python-pastedeploy-tpl (= ${binary:Version}),
         python3-paste,
         python3-pkg-resources,
         ${misc:Depends},
         ${python3:Depends},
Recommends: python3-pastescript,
Enhances: python3-paste,
Description: load, configure, and compose WSGI applications and servers - Python 3.x
 Paste Deployment is a system for finding and configuring WSGI applications and
 servers. For WSGI application consumers it provides a single, simple function
 (loadapp) for loading a WSGI application from a configuration file or a Python
 Egg. For WSGI application providers it only asks for a single, simple entry
 point to your application, so that application users don't need to be exposed
 to the implementation details of your application.
 .
 This package contains the Python 3.x module.

Package: python-pastedeploy-tpl
Architecture: all
Depends: ${misc:Depends},
Breaks: python-pastedeploy (<< 1.5.0-4),
Replaces: python-pastedeploy (<< 1.5.0-4),
Description: load, configure, and compose WSGI applications and servers - templates
 Paste Deployment is a system for finding and configuring WSGI applications and
 servers. For WSGI application consumers it provides a single, simple function
 (loadapp) for loading a WSGI application from a configuration file or a Python
 Egg. For WSGI application providers it only asks for a single, simple entry
 point to your application, so that application users don't need to be exposed
 to the implementation details of your application.
 .
 This package contains the Paste Deploy's paster template.
